.cadastro-usuario {
  max-width: 55%;
  margin: 50px auto;
  text-align: center;
}

.campo {
  width: 100%;
}

.card-l{
  font-size: 14px;
  color: #ff1a1a;
  margin: 10px auto;
  text-align: center;
  width: 70%;
}

a{
  text-decoration: none;
}

a:visited{
  color: #ff1a1a;
}
