<mat-card class="cadastro-usuario" *ngIf="user">
  <mat-card-header>
    <mat-card-title>
      <h3>Cadastro de Post</h3>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form #f="ngForm" (submit)="form_submit(f)">
      <mat-form-field class="campo">
        <input matInput ngModel name="nome" placeholder="Digite o titulo:">
      </mat-form-field>
      <br>

      <mat-form-field class="campo">
        <textarea matInput #input ngModel name="recl" placeholder="Digite sua reclamaçao:"></textarea>
        <mat-hint align="end">{{input.value?.length || 0}}/200</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field class="campo">
        <textarea matInput #input2 ngModel name="suges" placeholder="Digite sua sugestão:"></textarea>
        <mat-hint align="end">{{input2.value?.length || 0}}/200</mat-hint>
      </mat-form-field>
      <br>

      <mat-form-field class="campo">
        <mat-select placeholder="Selecione a categoria:" ngModel name="cate">
          <mat-option value=""></mat-option>
          <mat-option value="1">Biblioteca</mat-option>
          <mat-option value="2">Didaticas</mat-option>
        </mat-select>
      </mat-form-field>

      <p>
        <button type="submit" mat-raised-button color="primary">Cadastrar</button>
      </p>
    </form>
  </mat-card-content>
</mat-card>
<mat-card class="card-l" *ngIf="!user">
  <mat-icon>error</mat-icon><br>
  Para cadastrar uma postagem é preciso estar logado clique <a href = "/login" >aqui</a>
</mat-card>
