<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label><mat-icon class="example-icon">home</mat-icon> Ultimos Post</ng-template>
    <app-cadastro-usuario-lista></app-cadastro-usuario-lista>
  </mat-tab>
  <mat-tab label="Cadastro">
      <ng-template mat-tab-label><mat-icon class="example-icon">home</mat-icon>Cadastrar</ng-template>
    <app-cadastro-usuario-form></app-cadastro-usuario-form>
  </mat-tab>
</mat-tab-group>
