<mat-card class="card" *ngFor="let usuario of rr?.reverse()">
  <mat-card-content (click)="metodo(usuario.key)">
    <mat-list>
      <mat-list-item >
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line >{{ usuario.titulo }}</h4>
        <p mat-line>{{ usuario.recl}}</p>
        <p mat-line>{{ usuario.data | date:'dd/MM/yyyy HH:mm'}}</p>
        <!-- <mat-divider></mat-divider> -->
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>





