<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Appteste</span>
    <span class="fill-remaining-space"></span>
    <button mat-raised-button color="basic" routerLink="/cadastro">Sua Reclam</button>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item routerLink="/">
          <mat-icon>home</mat-icon>
          <span>Home</span>
        </button>
      <button mat-menu-item>
          <mat-icon>settings</mat-icon>
        <span>Config</span>
      </button>
      <button mat-menu-item routerLink="/login">
        <mat-icon>account_box</mat-icon>
        <span>Logar</span>
      </button>
      <button mat-menu-item routerLink="/cadastroLogin">
          <mat-icon>person_add</mat-icon>
        <span>Cadastrar</span>
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>close</mat-icon>
        <span>Sair</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
