<mat-card class="login">
  <mat-card-content>
    <form #f="ngForm" (submit)="form_login(f)">
      <h2>Faça seu login:</h2>
      <mat-form-field class="campo">
        <input matInput ngModel name="email" required placeholder="Digite o Email:">
      </mat-form-field>
      <br>
      <mat-form-field class="campo">
        <input matInput #input ngModel type="password" required name="senha" placeholder="Digite sua senha:">
      </mat-form-field>
      <br>
      <p>
        <button type="submit" mat-raised-button class="botao" color="primary">Logar</button>
      </p>
    </form>
    <hr>
    <p><button mat-raised-button class="botao" color="primary" ><mat-icon class="example-icon">account_box</mat-icon> Conectar com Facebook</button></p>
    <p><button mat-raised-button class="botao-g" >Conectar com Gmail</button></p>
  </mat-card-content>
</mat-card>
