.login {
  max-width: 55%;
  margin: 50px auto;
  text-align: center;
}

.campo {
  width: 100%;
}

.botao{
  width: 180px;
  font-size: 12px;
}

.botao-g{
  width: 180px;
  font-size: 12px;
  font-weight: bold;
}
