<mat-card class="login">
  <mat-card-content>
    <form #f="ngForm" (submit)="form_login_cad(f)">
      <h2>Cadastre-se:</h2>
      <mat-form-field class="campo">
        <input matInput ngModel name="nome" required placeholder="Digite seu Nome:" #nome="ngModel">
        <mat-hint class="hint-erro" *ngIf="nome.invalid && nome.touched && nome.errors.required" align="end">Campo é obrigatorio</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="campo">
        <input matInput type="email" email ngModel name="email" required placeholder="Digite seu E-mail:" #mail="ngModel">
        <mat-hint class="hint-erro" *ngIf="mail.invalid && mail.touched && mail.errors.required" align="end">Campo é obrigatorio</mat-hint>
        <mat-hint class="hint-erro" *ngIf="mail.invalid && mail.errors.email" align="end">Digite o email corretamente</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="campo">
        <input matInput ngModel type="password" minlength="6" required name="senha" placeholder="Digite sua Senha:" #senha="ngModel">
        <mat-hint class="hint-erro" *ngIf="senha.invalid && senha.touched && senha.errors.required" align="end">Campo é obrigatorio</mat-hint>
        <mat-hint class="hint-erro" *ngIf="senha.invalid && senha.errors.minlength" align="end">Senha deve ter no minimo 6 caracteres</mat-hint>
      </mat-form-field>
      <br>
      <mat-form-field class="campo">
        <input matInput ngModel type="password" required name="csenha" placeholder="Confirme sua Senha:">
        <mat-hint class="hint-erro" *ngIf="!verificaSeSenhasSaoIguais(f)" align="end">Senhas não conferem</mat-hint>
      </mat-form-field>
      <br>
      <p>
        <button type="submit" [disabled]="!verificaFormValido(f)" mat-raised-button class="botao" color="primary">Cadastrar</button>
      </p>
    </form>
    <hr>
    <p>
      <button mat-raised-button color="primary" class="botao" >
        <mat-icon class="example-icon">account_box</mat-icon> Conectar com Facebook</button>
    </p>
    <p>
      <button mat-raised-button class="botao-g">Conectar com Gmail</button>
    </p>
  </mat-card-content>
</mat-card>
