<mat-card class="card" >
  <mat-card-content >
    <mat-list>
      <mat-list-item >
        <mat-icon mat-list-icon>person</mat-icon>
        <h4 mat-line >{{ u.titulo }}</h4>
        <p mat-line>{{ u.recl}}</p>
        <p mat-line>{{ u.data | date:'dd/MM/yyyy HH:mm'}}</p>
        <!-- <mat-divider></mat-divider> -->
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
