/* You can add global styles to this file, and also import other style files */

/* tema do material */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bulma/css/bulma.min.css';
@import '~ngx-toastr/toastr.css';


body {
  margin: 8px;
  font-family: Roboto, sans-serif;

}



